<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/login.css">
      <title>注册</title>
	<style>

	</style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div><a class="navbar-brand" href="../index.html" style="font-size:32px;">textDemo</a></div>
        </div>
      </div>
    </nav>

    <div class="container">

      <form action="/random" class="form-signin" name="myForm" method="post">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户注册</h2>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" id="username" name="username" placeholder="请输入登录账号" style="margin-top:10px;">
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
		  </div>
		  <div class="form-group has-success has-feedback">
			<input type="password" class="form-control" id="userpswd" name="userpswd" placeholder="请输入登录密码" style="margin-top:10px;">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		  </div>
          <div class="form-group has-success has-feedback">
              <input type="password" class="form-control" id="userpswd2" name="userpswd2" placeholder="确认密码" style="margin-top:10px;">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
		  <div class="form-group has-success has-feedback">
			<input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱地址,用于找回密码" style="margin-top:10px;">
			<span class="glyphicon glyphicon glyphicon-envelope form-control-feedback"></span>
		  </div>
        <div class="checkbox">
          <label style="float:right">
            <a href="/toLogin">我有账号</a>
          </label>
        </div>
        <input type="button" id="fromButton" onclick="submitFrom()" class="btn btn-lg btn-success btn-block" value="注册"> </input>
      </form>
    </div>
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
<script type="application/javascript">

    var layer = null;
    layui.use('layer', function() { //独立版的layer无需执行这一句
        var $ = layui.jquery;
        layer = layui.layer; //独立版的layer无需执行这一句」
    });

    function submitFrom() {
        var username = $("#username").val();
        var userpswd = $("#userpswd").val();
        var userpswd2 = $("#userpswd2").val();
        var email = $("#email").val();
        if (username == null||username== ""){
            layer.msg("用户名不能为空");
            return;
        }
        if (userpswd == null||userpswd == ""){
            layer.msg("密码不能为空");
            return;
        }
        if (email == null||email == ""){
            layer.msg("请填写邮箱");
            return;
        }
        if (userpswd != userpswd2){
            layer.msg("密码不一致");
            return;
        }
        $.ajax({
            type: 'POST',
            url: "/reg",
            data: {
                "username" : username,
                "userpswd" : userpswd,
                "email" : email
            },
            success: function (str) {
                if (str == "success"){
                    layer.msg("注册成功")
                    window.location.href = "/toLogin";
                }else {
                    layer.msg(str);
                }
            }
        })

    }
</script>
</html>